.container {
  display: flex;
  flex-direction: column;
  height: 60vw;
  width: 48vw;
  border: 1px solid black;
  background-color: #61b34f;
}

.content-row {
  height: 12vw;
  display: flex;
}

.text-content {
  border: .05em solid white;
  flex-grow: 3;
  color: white;
  font-size: 24px;
  text-align: right;
}

.squares {
  border: .05em solid white;
  color: white;
  font-size: 44px;
  /*flex-grow: 0;*/
  width: 12vw;
  display: flex;
  justify-content: center;
}
